In [252]:
#dic
dic = {"name" : "hello", 'age': 18}
#dic.clear()
#y = dic.copy()
''''x=('key1','key2','key3')
y=0
dic.fromkeys(x,y)'''
#dic.get('name')
#dic.items()
#dic.keys()
#dic.pop('age')
#dic.popitem()
#dic.setdefault('hobbies','pip')
#dic.update({'hobbie' : 'yo'})
dic.values()
print(dic)

{'name': 'hello', 'age': 18}

In [ ]:
#tuple
tup = ('hey', 1,3,4)
#tup.count(3) 1
#tup.index(3) 2
#tup[1:]
#print(tup)

(1, 3, 4)

In [192]:
#list

myl = [1,2,3,4,5,6,7,8,9,10]
#myl.append(11)
#myl.clear()
#my2 = myl.copy()
#print(my2)
#myl.count(5) 1
#myl.extend([20,30,40])
#myl.index(5)  4
#myl.insert(2,80)
#myl.pop()
#myl.remove(8)
myl.reverse()
myl.sort()
print(myl)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#set
myset = {"hello world", (4,5,6), 'bye'}
#myset.add(10)
#myset.clear()
#y =myset.copy()
#myset.difference(y)
#myset.discard('bye')
#myset.pop()
#myset.remove('hello world')
#y={1,2,3}
#myset.update(y) or
#myset.update([5,6,7],[9,10,11])
print(myset)

{5, 6, 7, 9, 10, 11, 'hello world', 'bye', (4, 5, 6)}

In [ ]:
s1= ' python programming '
#s1.capitalize()
#s1.upper()
#s1.lower()
#s1.title()
#s1.count('p') 2
#s1.find('g') 11
#s1.index('g') 11
#s1.isalnum()
#s1.isalpha()
#s1.isdecimal()
#s1.isdigit()
#s1.islower()
#s1.isupper()
#s1.istitle()
#s1.isnumeric()
#s1.replace('python','java')
#s1.swapcase()

#print(s1.isspace())

' PYTHON PROGRAMMING '

In [255]:
sum=0
i=0
a = [1,2,3,4,5]
for i in a:
    sum= sum+i

print(sum)

15